<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FileSystemConfiguration" type="VsoBackup.Configuration.FileSystemConfiguration, VsoBackup.Configuration, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <FileSystemConfiguration
    BasePath="\\arfyes.com\MaintenanceDFS\User_Documents\mdebissc\Desktop\BackupFolder\{0}"/>
  
</configuration>